<div class="container">
	<a href="/logout">logout</a>
	<h1>Admin</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Email</th>
			<th>RSVP</th>
		</tr>
	</thead>
	<tbody id="rspv-table"></tbody>
</table>

<script id="rsvp-tmpl" type="text/x-handlebars-template">
{{#each}}
<tr>
	<td>{{@index}}</td>
	<td>{{first_name}} {{last_name}}</td>
	<td>{{email}}</td>
	{{#if reservation}}
	<td><span class="bold yes">yes</span></td>
	{{else}}
	<td><span class="bold no">no</span></td>
	{{/if}}
<tr>	
{{/each}}
</script>

<script src="js/libs/handlebars.js"></script>
<script>
(function ($) {
	$.ajax({
		type: "GET",
		url: "/rsvp",
		dataType: "JSON"
	}).done(function (data) {
		console.log(data);
		var tmpl = Handlebars.compile($("#rsvp-tmpl").html());
		$("#rspv-table").html(tmpl(data));

	}).fail(function (err) {
		console.log("error fetching rsvp ", err);
	});
})(jQuery);
</script>
