<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta charset="UTF-8">
	<title>♥Wedding RSVP♥</title>
</head>
<body>
	<%= yield %>

	<script src="js/jquery.js"></script>	
	<script src="js/main.js"></script>	
</body>
</html>