<!doctype html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans|Oleo+Script|Lobster|Raleway|Dancing+Script|Playball|Satisfy|Pinyon+Script' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta charset="UTF-8">
	<title>♥Wedding RSVP♥</title>
</head>
<body>
	<%= yield %>

	<script src="js/libs/jquery.js"></script>	
	<script src="js/main.js"></script>	
</body>
</html>