body, h1, h2, h3, ul, ol {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

#main-section {
	text-align: right;
	background-image: url("/images/sample1.jpg");
}

#main-title {
	position: relative;
	color: #FFF;
	-webkit-transform: translateY(400px);
	-moz-transform: translateY(400px);
	-ms-transform: translateY(400px);
	-o-transform: translateY(400px);
	transform: translateY(400px);
}

#map {
	margin: 0 auto;
	max-width: 700px;
	height: 300px;
}

.section {
	height: 500px;
	border-bottom: 1px solid #59ABE3;
}

.form-container {
	max-width: 400px;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.btn {
	font-size: 20px;
}

#rsvp_yes {
	background-color: lightgreen;
}

#rsvp_no {
	background-color: coral;
}