body, h1, h2, h3, ul, ol {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

#main-section {
	text-align: right;
	background-color: #333;
	background-image: url("/images/sample1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-title {
	position: relative;
	color: #FFF;
	-webkit-transform: translateY(400px);
	-moz-transform: translateY(400px);
	-ms-transform: translateY(400px);
	-o-transform: translateY(400px);
	transform: translateY(400px);
}

#map {
	margin: 0 auto;
	max-width: 700px;
	height: 300px;
}

.section {
	height: 500px;
	border-bottom: 1px solid #EEEEEE;
}

.section:nth-child(3) {
	background-color: #DADFE1;
}

.heart {
	cursor: pointer;
}

.form-container {
	max-width: 400px;
	margin: 0 auto;
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-ms-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform: translateY(50px);
}

.center {
	margin: 0 auto;
	text-align: center;
}

.yes { color: lightgreen; }
.no { color: coral; }

.bold { font-weight: bold; }

.btn { font-size: 20px; }

.table {
	max-width: 800px;
	margin: 0 auto;
}

#rsvp_yes { background-color: lightgreen; }
#rsvp_no { background-color: coral; }