#main-section {
  text-align: right;
  background-color: #eee;
  background-image: url("../images/imagemap2.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: none;
}
.main-title {
  position: relative;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 8%;
  font-size: 90px;
  color: #fff;
}
.main-welcome {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f9b862;
}
.main-text {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #fff;
}
.rsvp-link {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}
.rsvp-link:hover {
  color: #f9b862;
}
.banner {
  background-color: rgba(8, 0, 26, 0.4);
  text-align: center;
  color: #FFF;
  height: 100%;
}
.fit-content {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
}
.wedding-info .info-datetime {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.wedding-info .info-time {
  display: block;
}
.wedding-info .address li {
  margin-top: 10px;
}
.wedding-info a {
  text-decoration: none;
}
.wedding-info a > i {
  font-size: 20px;
  border-bottom: 1px solid;
  transition: all 0.3s;
}
.wedding-info a > i:hover {
  color: #f9b862;
}
#map {
  margin: 0 auto;
  max-width: 300px;
  height: 300px;
}
.section {
  height: 500px;
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 1px 1px 1px 1px #333;
}
.section:nth-child(3) {
  background-color: #DDDDDD;
  height: 700px;
  padding-bottom: 20px;
}
.footer {
  background-color: #fafafa;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.table {
  max-width: 800px;
  margin: 0 auto;
}
/**
*   Vertically center nodes
*/
.v-wrap {
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
.v-wrap:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  margin-right: -0.25em;
  height: 100%;
}
.v-box {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
